html {
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;

    font-family: 'Meiryo';
    font-size: 15px;
}

#toc {
    flex: 1;
    overflow-y: scroll;
    background-color: rgb(230, 230, 230);
}

#toc h4 {
    margin-left: 1em;
}

#toc a {
    color: black;
    text-decoration: none;
}

#toc a:hover {
    color: blue;
}

#content {
    flex: 3;
    overflow-y: scroll;
    padding: 30px;
}

blockquote { 
    margin-left: 0em;
    padding-left: 2em;
    color: rgb(85, 85, 85);

    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(200, 200, 200);
}

blockquote, ul, ol, p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

img {
    width: 600px;
}

.linkcard {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
}

.linkcard-link {
    display: flex;
    color: black;
    text-decoration: none;
    background-color: rgb(250, 250, 250);
}

.linkcard-text {
    box-sizing: border-box;
    height: 150px;
    padding: 10px 20px;
}

.linkcard-title {
    margin: 0.2em;
}

.linkcard-description {
    margin: 0.2em;
    font-weight: lighter;
    font-size: 0.8em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.linkcard-favicon {
    object-fit: contain;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.linkcard-sitename {
    margin: 0.5em;
    font-weight: lighter;
    font-size: 0.8em;
}

.linkcard-image {
    object-fit: contain;
    height: 150px;
}

pre {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

code {
    border-radius: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: #ebebeb;

    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

table {
    margin: 1em;

    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
}

thead {
    font-weight: 600;
}

td {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;

    border-color:rgb(170, 170, 170);
    border-style: solid;
    border-width: 1px;
}